PORT=__PORT__
AUTH_ACCESS_SECRET=__YOUR_ACCESS_TOKEN_SECRET__
AUTH_REFRESH_SECRET=__YOUR_REFRESH_TOKEN_SECRET__
AUTH_ACCESS_EXPIRE=__YOUR_ACCESS_TOKEN_EXPIRE__
AUTH_REFRESH_EXPIRE=__YOUR_REFRESH_TOKEN_EXPIRE__
MONGODB_URI=__YOUR_DATABASE_URL__
NODE_ENV=__YOUR_NODE_ENV__
NODEMAILER_USER=__YOUR_EMAIL__
NODEMAILER_PASS=__YOUR_EMAIL_PASSWORD__
FRONTEND_URL=__YOUR_FRONTEND_URL__